---
import { nativeBlogs } from "@lib/strapi";
import dateFormat from "@lib/utils/dateFormat";

const heroBlogs = nativeBlogs?.slice(0, 3);

---

<section class="bg-[#f3f4f6] md:py-32 py-8">
  <div class="container mx-auto px-4 items-center">
    <div
      class="grid grid-cols-1 lg:grid-cols-1 gap-[10rem] items-center mt-[4rem]"
    >
      <div
        class="flex flex-col gap-6 items-center max-w-screen-md mx-auto text-center"
      >
        <h2
          class="text-[#111827] lg:text-5xl md:text-4xl font-semibold leading-normal"
        >
          From Our Desk:
          <span class="text-[#a39ffb]">Insights and Innovations</span>
        </h2>
        <p class="max-w-2xl mx-auto text-[#6b7280]">
          Dive into our blog for the latest trends, expert advice, and deep
          dives into the world of venture capital and startup growth.
        </p>
      </div>
    </div>
  </div>
  <div class="mt-12">
    <div class="container mx-auto px-4 items-center">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 sm:px-3 px-4"
      >
        {
          heroBlogs?.map((blog) => (
            <div class="bg-white rounded-2xl overflow-hidden p-6">
              <img
                src={blog?.imageSmallUrl || "/images/placeholder.png"}
                alt="Wearable Tech"
                class="w-full object-cover  rounded-[0.5rem] mb-[1.5rem]"
              />
              <div class="p-4">
                <span class="inline-block bg-purple-200 text-purple-600 text-xs font-semibold uppercase tracking-wide px-2 py-1 rounded">
                  {blog.categories?.[0]}
                </span>
               <a href={`/${blog?.slug}/`} class="">

                <h2 set:html={blog?.title} class="hover:underline text-2xl font-semibold  my-2.5 leading-7 text-[#111928]">
                  
                </h2>
               </a>
                <p class="text-gray-500 text-sm mb-2.5 mt-0">
                  { dateFormat(blog?.createdAt)}
                </p>
                <p set:html={blog.content?.slice(0,200)} class="text-base  mt-0 mb-2.5 text-gray-500 font-medium">
                </p>
                <a
                  href={`/${blog?.slug}/`}
                  class="text-purple-600 text-base font-medium inline-flex items-center mt-4 hover:text-[#443ab9]"
                >
                  Read more{" "}
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="ml-2 w-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                    />
                  </svg>
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
