---

import { categories } from "@lib/strapi";
const { category } = Astro.params;
---

<div class="container mx-auto px-4 ">
<div class="flex lg:pt-5 pt-4">
    <ul class="my-4 flex gap-4 flex-wrap gap-2">
        <li >
          <a href="/blog/" class:list={category==null ?"border-[#5e52e8] border text-[#5e52e8]":""} class="text-[#100d06] whitespace-nowrap py-3 px-5 font-semibold  rounded-2xl active:border-[#5e52e8] hover:border-[#5e52e8] hover:border hover:text-[#5e52e8]">All Categories</a>
        </li>

      {
        categories.map((cItem) => (
            <li>
              <a href={`/blog/${cItem.slug}/`}  class:list={category==cItem.slug ?"border-[#5e52e8] border text-[#5e52e8]":""} class="text-[#100d06] py-3 px-5 font-semibold  rounded-2xl hover:border-[#5e52e8] hover:border hover:text-[#5e52e8]">
                  {cItem.name}
              </a>
            </li>
        ))
      }
    </ul>
  </div>
</div> 