<section class="bg-[#f0efff] py-[4rem]">
    <div class="container mx-auto px-4 items-center">
        <div class="grid grid-cols-1 lg:grid-cols-2 sm:gap-[2rem] lg:gap-[10rem] gap-[1rem] items-center">
            <div class="">
                <img class="rounded-[35px]" src="/images/Our-Ethical-Approach.jpg"
                    alt="Our-Ethical-Approach" />
            </div>
            <div class="flex flex-col gap-6 ">
                <h2 class="text-[#100d06] text-4xl font-semibold max-sm:text-[26px] max-sm:leading-[34px] ">Commitment to Social Responsibility: Our
                    Ethical Approach</h2>
                <p class="mb-5">At ABC Ventures, we believe in the power of business to make a positive impact.
                    From promoting sustainable practices to supporting community initiatives, we integrate
                    social responsibility into every aspect of our work.</p>
                <a href="#"
                    class="flex max-w-fit py-[.625rem] px-[1.25rem] text-base font-medium text-[#4f44d1] border border-[#4f44d1] rounded-[1rem] hover:bg-[#4f44d1] hover:text-white transition-colors">
                    Learn more
                </a>
            </div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 md:flex-col-reverse sm:gap-[2rem] lg:gap-[10rem] gap-[1rem] items-center mt-[4rem]">
            <div class="flex flex-col gap-6 order-2 lg:order-1">
                <h2 class="text-[#100d06] text-4xl font-semibold max-sm:text-[26px] max-sm:leading-[34px] ">Investing in a Sustainable Future</h2>
                <p class="mb-5">Our investments go beyond mere financial contributions; they represent a
                    profound commitment to creating a better, more sustainable future for all. By focusing on
                    responsible innovation and ethical practices, we aim to set a standard in the venture
                    capital industry for making a positive, lasting impact on society and the environment.</p>
                <a href="#"
                    class="flex max-w-fit py-[.625rem] px-[1.25rem] text-base font-medium text-[#4f44d1] border border-[#4f44d1] rounded-[1rem] hover:bg-[#4f44d1] hover:text-white transition-colors">
                    Contact Us to Learn More
                </a>
            </div>
            <div class="order-1 lg:order-2">
                <img class="rounded-[35px]" src="/images/Investing-in-a-Sustainable-Future-1.jpg"
                    alt="Investing-in-a-Sustainable-Future-1" />
            </div>
        </div>
    </div>
</section>