<div
  class="bg-[#f3f4f6] py-[4rem] z-10 before:z-0 after:z-0 relative before:absolute before:left-[0px] before:bottom-[0px] before:w-[239px] before:h-[163px] before:bg-cover before:bg-right-bottom before:content-[''] before:bg-[url('/images/newsletter-icon-left.svg')]
 after:absolute after:right-[0px] after:bottom-[0px] after:w-[256px] after:h-[155px] after:bg-cover after:bg-right-bottom after:content-[''] after:bg-[url('/images/newsletter-icon-right.svg')]"
>
  <div class="mx-auto lg:px-20 md:px-8 sm:px-4 items-center">
    <div class="grid grid-cols-1 lg:grid-cols-1 gap-[10rem] items-center">
      <div
        class="flex flex-col gap-6 items-center max-w-screen-md mx-auto text-center px-10"
      >
        <h2
          class="text-[#111928] lg:text-5xl md:text-4xl font-semibold leading-normal"
        >
          Have questions and would like to hear more about some interesting
          topics?
        </h2>
        <p
          class="max-w-2xl mx-auto mt-0 mb-8 text-base text-[#6b7280] md:mb-8 md:text-xl"
        >
          Contact us and let us know what you want us to write about next.
        </p>
        <div class="newsletter-subscribe-form relative z-10">
          <a href="/contact/">
            <button
              class="bg-[#4f44d1] py-[.875rem] px-[1.5rem] rounded-[1rem] text-[17px] text-white"
              name="submit">Contact us</button
            >
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
