---
import { scrollToElement } from "@lib/utils";
import ScrollButton from "@components/ScrollButton";
---

<section class="homeBanner  max-sm:!pt-[2.5rem] sm:pt-[2rem] max-sm:pb-[2rem] max-md:pt-[4rem] bg-no-repeat bg-[url('/images/hero-image.webp')] bg-auto bg-right-bottom bg-[#111928] pt-[7rem] pb-[4rem]">
    <div class="container mx-auto px-4">
        <div class="row">
            <div class="col-sm-12">
                <div class="bannerContent flex max-sm:gap-[15px] max-md:gap-[3rem] gap-[7rem] flex-col">
                    <div class="">
                        <a href="/contact/" 
                        class="liveBtn mb-[1.75rem] max-sm:mb-[0.75rem] max-w-fit text-[#f0efff] text-[.875rem] border border-solid border-[#5e52e8] rounded-full flex items-center py-[.25rem] px-[0.5rem]">
                            <span class="flex bg-[#d9d6ff] px-[0.75rem] py-[0.275rem] text-[#443ab9] rounded-full text-[0.75rem] mr-[0.75rem]">New</span>ABC Venturing is LIVE now!
                            <!-- width: 16px;
                            height: 16px;
                            margin-left: .5rem; -->
                            <svg class="w-5 h-5 ml-2" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </a>
                        <h1 class="max-sm:text-[2rem] text-[6rem] max-md:text-[4rem] max-lg:text-[5rem] text-[#ebf5ff] max-w-[56rem] font-semibold">Shaping the Future of
                            Startups with <span class="text-[#9d95fa] font-medium">ABC Ventures</span></h1>
                    </div>
                    <div class="btns flex max-sm:flex-col  items-center">
                        <ScrollButton client:load elementId="vision-section-container" customClass="max-w-fit scrollBtn text-[#f9f9f9] flex items-center gap-2 font-semibold bg-[#4f44d1] rounded-[1rem] px-[5rem] py-[.875rem] text-[1rem] hover:bg-[#776bff] hover:text-[#f9f9f9] order-2 md:order-1">
                            Scroll down
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
                            </svg>
                        </ScrollButton>
                        
                        <ScrollButton client:load elementId="culture-section-container" 
                            customClass="px-[0.75rem] max-w-fit py-[1.25rem] text-[#f0efff] font-semibold text-[1.25rem] bg-transparent  border-0 order-1 md:order-2">Our
                            Company</ScrollButton>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>