<section class="bg-gray-50  lg:py-24  md:py-20  sm:py-14   flex items-center justify-center">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
            <!-- Left Section -->
            <div class="space-y-4 max-w-[32rem]">
                <p class="text-sm font-semibold text-[#233876] ">Trusted Worldwide</p>
                <h2 class="text-5xl font-bold leading-tight text-[#100d06]">
                    Empowering Success: <br>
                    <span class="text-[#a39ffb]">Our Approach to <br> Strategic Investment</span>
                </h2>
                <p class="text-[#100d06]">
                    At ABC Ventures, we’re not just investors; we’re partners in innovation, guiding startups
                    towards unprecedented growth.
                </p>
            </div>

            <!-- Right Section -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                <!-- Card 1 -->
                <div class="flex items-start  flex-col">
                    <div class="text-[#a39ffb]">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#a39ffb"
                            class="w-8">
                            <path
                                d="M21 6.375c0 2.692-4.03 4.875-9 4.875S3 9.067 3 6.375 7.03 1.5 12 1.5s9 2.183 9 4.875Z" />
                            <path
                                d="M12 12.75c2.685 0 5.19-.586 7.078-1.609a8.283 8.283 0 0 0 1.897-1.384c.016.121.025.244.025.368C21 12.817 16.97 15 12 15s-9-2.183-9-4.875c0-.124.009-.247.025-.368a8.285 8.285 0 0 0 1.897 1.384C6.809 12.164 9.315 12.75 12 12.75Z" />
                            <path
                                d="M12 16.5c2.685 0 5.19-.586 7.078-1.609a8.282 8.282 0 0 0 1.897-1.384c.016.121.025.244.025.368 0 2.692-4.03 4.875-9 4.875s-9-2.183-9-4.875c0-.124.009-.247.025-.368a8.284 8.284 0 0 0 1.897 1.384C6.809 15.914 9.315 16.5 12 16.5Z" />
                            <path
                                d="M12 20.25c2.685 0 5.19-.586 7.078-1.609a8.282 8.282 0 0 0 1.897-1.384c.016.121.025.244.025.368 0 2.692-4.03 4.875-9 4.875s-9-2.183-9-4.875c0-.124.009-.247.025-.368a8.284 8.284 0 0 0 1.897 1.384C6.809 19.664 9.315 20.25 12 20.25Z" />
                        </svg>
                    </div>
                    <div>
                        <h3 class="font-semibold text-[#100d06] text-2xl mt-4 mb-2 ">100+ Startups Funded</h3>
                        <p class="text-base text-[#6b7280]">Diverse industries, one common goal: success.</p>
                    </div>
                </div>
                <!-- Card 2 -->
                <div class="flex items-start  flex-col">
                    <div class="text-[#a39ffb]">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#a39ffb"
                            class="w-8">
                            <path fill-rule="evenodd"
                                d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM6.262 6.072a8.25 8.25 0 1 0 10.562-.766 4.5 4.5 0 0 1-1.318 1.357L14.25 7.5l.165.33a.809.809 0 0 1-1.086 1.085l-.604-.302a1.125 1.125 0 0 0-1.298.21l-.132.131c-.439.44-.439 1.152 0 1.591l.296.296c.256.257.622.374.98.314l1.17-.195c.323-.054.654.036.905.245l1.33 1.108c.32.267.46.694.358 1.1a8.7 8.7 0 0 1-2.288 4.04l-.723.724a1.125 1.125 0 0 1-1.298.21l-.153-.076a1.125 1.125 0 0 1-.622-1.006v-1.089c0-.298-.119-.585-.33-.796l-1.347-1.347a1.125 1.125 0 0 1-.21-1.298L9.75 12l-1.64-1.64a6 6 0 0 1-1.676-3.257l-.172-1.03Z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div>
                        <h3 class="font-semibold text-[#100d06] text-2xl mt-4 mb-2 ">Global Reach</h3>
                        <p class="text-base text-[#6b7280]">Extending our impact across continents.</p>
                    </div>
                </div>
                <!-- Card 3 -->
                <div class="flex items-start  flex-col">
                    <div class="text-[#a39ffb]">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#a39ffb"
                            class="w-8">
                            <path fill-rule="evenodd"
                                d="M3 2.25a.75.75 0 0 0 0 1.5v16.5h-.75a.75.75 0 0 0 0 1.5H15v-18a.75.75 0 0 0 0-1.5H3ZM6.75 19.5v-2.25a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75v2.25a.75.75 0 0 1-.75.75h-3a.75.75 0 0 1-.75-.75ZM6 6.75A.75.75 0 0 1 6.75 6h.75a.75.75 0 0 1 0 1.5h-.75A.75.75 0 0 1 6 6.75ZM6.75 9a.75.75 0 0 0 0 1.5h.75a.75.75 0 0 0 0-1.5h-.75ZM6 12.75a.75.75 0 0 1 .75-.75h.75a.75.75 0 0 1 0 1.5h-.75a.75.75 0 0 1-.75-.75ZM10.5 6a.75.75 0 0 0 0 1.5h.75a.75.75 0 0 0 0-1.5h-.75Zm-.75 3.75A.75.75 0 0 1 10.5 9h.75a.75.75 0 0 1 0 1.5h-.75a.75.75 0 0 1-.75-.75ZM10.5 12a.75.75 0 0 0 0 1.5h.75a.75.75 0 0 0 0-1.5h-.75ZM16.5 6.75v15h5.25a.75.75 0 0 0 0-1.5H21v-12a.75.75 0 0 0 0-1.5h-4.5Zm1.5 4.5a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75h-.008a.75.75 0 0 1-.75-.75v-.008Zm.75 2.25a.75.75 0 0 0-.75.75v.008c0 .414.336.75.75.75h.008a.75.75 0 0 0 .75-.75v-.008a.75.75 0 0 0-.75-.75h-.008ZM18 17.25a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75h-.008a.75.75 0 0 1-.75-.75v-.008Z"
                                clip-rule="evenodd" />
                        </svg>

                    </div>
                    <div>
                        <h3 class="font-semibold text-[#100d06] text-2xl mt-4 mb-2 ">Industry Recognition</h3>
                        <p class="text-base text-[#6b7280]">Award-winning approaches to venture capital.</p>
                    </div>
                </div>
                <!-- Card 4 -->
                <div class="flex items-start  flex-col">
                    <div class="text-[#a39ffb]">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#a39ffb"
                            class="w-8">
                            <path
                                d="M4.5 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM14.25 8.625a3.375 3.375 0 1 1 6.75 0 3.375 3.375 0 0 1-6.75 0ZM1.5 19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 0 1-.364-.63l-.001-.122ZM17.25 19.128l-.001.144a2.25 2.25 0 0 1-.233.96 10.088 10.088 0 0 0 5.06-1.01.75.75 0 0 0 .42-.643 4.875 4.875 0 0 0-6.957-4.611 8.586 8.586 0 0 1 1.71 5.157v.003Z" />
                        </svg>
                    </div>
                    <div>
                        <h3 class="font-semibold text-[#100d06] text-2xl mt-4 mb-2 ">Expert Team</h3>
                        <p class="text-base text-[#6b7280]">Combining experience with vision.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>