<section class="text-center bg-[#1e429f] text-white lg:py-24 md:py-16 sm:py-10 px-4">
    <div class="max-w-3xl mx-auto space-y-6">
        <!-- Heading -->
        <h2 class="lg:text-5xl md:text-4xl font-semibold leading-normal">
            <span class="text-white">Collaborating for Success&#58;</span> <br>
            <span class="text-[#a39ffb]">Our Esteemed Partners</span>
        </h2>
        <!-- Subheading -->
        <p class="text-[#f9edff] md:text-base lg:pb-10 md:pb-6 font-semibold">
            Our network of partners amplifies our ability to drive change, combining diverse expertise and
            resources for a greater collective impact.
        </p>
        <!-- Button -->
        <button
            class="md:px-[3rem]  lg:px-[11rem] py-3 bg-[#4f44d1] text-[#f9f9f9] font-medium rounded-[1rem] hover:bg-[#776bff] hover:text-[#f9f9f9] transition-colors">
            Contact us
        </button>
    </div>
</section>