<div class="bg-[#f3f4f6]  z-10 before:z-0 after:z-0 relative before:absolute before:left-[0px] before:bottom-[0px] before:w-[239px] before:h-[163px]  before:bg-cover before:bg-right-bottom before:content-[''] before:bg-[url('/images/newsletter-icon-left.svg')]
 after:absolute after:right-[0px] after:bottom-[0px] after:w-[256px] after:h-[155px]  after:bg-cover after:bg-right-bottom after:content-[''] after:bg-[url('/images/newsletter-icon-right.svg')] pb-52 lg\:py-16 pt-8">
    <div class=" mx-auto lg:px-20 md:px-8 sm:px-4 items-center">
        <div class="grid grid-cols-1 lg:grid-cols-1 gap-[10rem] items-center">
            <div class="flex flex-col gap-6 items-center max-w-screen-md mx-auto text-center px-6 md:px-10">
                <h2 class="text-[#111928] lg:text-5xl text-4xl font-semibold !leading-[3.5rem] md:text-center text-left">Stay Informed&#58; Subscribe to Our Newsletter</h2>
                <p class="max-w-2xl mx-auto mt-0 md:mb-8 mb:0 text-base text-[#6b7280] md:mb-8 md:text-xl md:text-center text-left">
                    Join our community of innovators and industry leaders. Get the latest insights, trends,
                    and updates in the investment space delivered straight to your inbox.</p>
                <form class="newsletter-subscribe-form relative z-10 ">
                    <div class="flex justify-center"> 
                        <input class="placeholder:text-slate-400 max-w-[24rem] w-full sm:w-[384px]  focus:outline-none focus:ring focus:ring-1  focus:ring-[#1064f2] rounded-l-[1rem] bg-white border border-solid border-[#bfbfbf] px-[.5rem] py-[0.75rem]" type="email" class="email" placeholder="Enter your email..." name="email" required=""/>
                        <button class="bg-[#9d95fa] py-[.50rem] px-[1.5rem] rounded-r-[1rem] text-[17px] text-white "  type="submit" class="submit" name="submit">Subscribe</button>
                    </div> 
                    <p class="py-2 text-[#6b7280] max-w-lg mx-auto text-sm text-left text-black-500 mt-4">We care about the protection of your data. Read our <a href="/privacy-policy/" class="text-[#111928]">Privacy Policy.</a></p>   
                </form>
            </div>
        </div>
</div>
</div