<section class="bg-[#fafaff] md:pt-[6rem] pt-[2rem]" id="vision-section-container">
    <div class="container mx-auto lg:px-4 sm:px-3">
        <div class="grid grid-rows  grid-cols-1 lg:grid-cols-2 gap-8 md:gap-16">
            <div class="lg:px-4 sm:p-0">
                <h2 class="my-0 max-sm:text-[26px] max-sm:leading-[34px] md:text-[3rem] text-[36px] leading-[3.5rem] font-semibold text-black-900">Vision and Mission:
                    <span class="block text-[#9d95fa]">Redefining the Venture Capital Landscape</span>
                </h2>
            </div>
            <div class="lg:px-4 sm:p-0 text-[#6b7280] text-base font-medium mb-8">
                <p class="mb-[1.2rem]">At ABC Ventures, our vision is to be the catalyst for transformative
                    innovation. We are committed to identifying and nurturing startups that have the potential
                    to become tomorrow’s market leaders, driving progress and prosperity.</p>
                <p>Our mission extends beyond funding; it’s about building partnerships based on Our mission
                    extends beyond funding; it’s about building partnerships based on trust, expertise, and
                    shared ambition. We’re dedicated to guiding our portfolio companies through every growth
                    stage, turning visionary ideas into tangible, world-changing realities.</p>
            </div>
        </div>
        <div class="grid grid-rows  grid-cols-1 lg:grid-cols-2 gap-4 items-center lg:mt-14">
            <div>
                <a href="#" class="text-xl font-semibold underline py-2 flex max-w-fit whitespace-nowrap items-center text-[#100d06] underline-offset-4">Learn More About Us
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3"
                    stroke="#9d95fa" class="w-4 ml-3 font-bold">
                   <path stroke-linecap="round" stroke-linejoin="round"
                         d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
               </svg>
               
                </a>
            </div>
            <div>
                <img src="/images/home-vision-layer.webp" alt="home-vision-layer" />
            </div>
        </div>
    </div>
</section>