---
import Social from "@components/Social.astro";
import FtrLogo from "@components/footerLogo.astro";
import config from "@config/config.json";
import menu from "@config/menu.json";
import social from "@config/social.json";
import { markdownify } from "@lib/utils/textConverter";
import { nativeBlogs } from "@lib/strapi";
import { AiFillFacebook, AiFillTwitterCircle } from "react-icons/ai/index.js";

const popularPosts = nativeBlogs.slice(1, 4);
const trendingPosts = nativeBlogs.slice(6, 9);
---

<footer class="footer py-5 bg-[#443ab9]">
  <div class="container mx-auto px-4">
      <div class="row">
          <div class="col-sm-12">
              <div class="footerContent text-center py-4 flex items-center flex flex-col gap-[2rem]">
                  <a href="#">
                      <img src="../public/images/abcLogo.svg" alt="abcLogo" />
                  </a>
                  <ul>
                      <li class="flex justify-center gap-[15px]">
                          <a href="#" class="decoration-0 text-white text-[1rem] hover:decoration-1">Home</a>
                          <a href="#" class="decoration-0 text-white text-[1rem] hover:decoration-1">Blog</a>
                          <a href="#" class="decoration-0 text-white text-[1rem] hover:decoration-1">Team &
                              Careers</a>
                          <a href="#"
                              class="decoration-0 text-white text-[1rem] hover:decoration-1">Contact</a>
                      </li>
                  </ul>
                  <p class="text-[0.65em] text-white">© 2024 – ABC Ventures, Inc. All rights reserved</p>
              </div>
          </div>
      </div>
  </div>
</footer>
