---

---

<footer class="footer py-5 bg-[#443ab9]">
  <div class="container mx-auto px-4">
      <div class="row">
          <div class="col-sm-12">
              <div class="footerContent text-center py-4 flex items-center flex flex-col gap-[2rem]">
                  <a href="#">
                      <img src="/images/abcLogo.svg" alt="abcLogo" />
                  </a>
                  <ul>
                      <li class="flex justify-center gap-[15px]">
                          <a href="/" class="decoration-0 text-white text-[1rem] hover:decoration-1">Home</a>
                          <a href="/blog/" class="decoration-0 text-white text-[1rem] hover:decoration-1">Blog</a>
                          <a href="/team-careers/" class="decoration-0 text-white text-[1rem] hover:decoration-1">Team &
                              Careers</a>
                          <a href="/contact/"
                              class="decoration-0 text-white text-[1rem] hover:decoration-1">Contact</a>
                      </li>
                  </ul>
                  <p class="text-[0.65em] text-white">© {new Date().getFullYear()} – ABC Ventures, Inc. All rights reserved</p>
              </div>
          </div>
      </div>
  </div>
</footer>
