---
import Logo from "@components/Logo.astro";
import menu from "@config/menu.json";

export interface ChildNavigationLink {
  name: string;
  url: string;
}

export interface NavigationLink {
  name: string;
  url: string;
  hasChildren?: boolean;
  children?: ChildNavigationLink[];
}

// Current page URL
const url = Astro.url.pathname;

// Navigation menu
const { main }: { main: NavigationLink[] } = menu;
---
<header class="headerWrapper bg-[#111928]">
  <nav class="bg-[#111928] py-[1.5rem]">
    <div class="container mx-auto px-4 flex items-center justify-between">
      <!-- Logo -->
      <Logo />

      <!-- Mobile Menu Button -->
      <button
        class="text-gray-200 hover:text-white focus:outline-none md:hidden"
        type="button"
        aria-label="Toggle navigation"
        aria-expanded="false"
        id="menu-toggle"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"
          />
        </svg>
      </button>

      <!-- Navigation Links -->
      <div id="mobile-menu" class="hidden md:flex md:items-center md:space-x-6">
        <div class="menuWrap">
          <ul class="flex flex-col md:flex-row md:items-center md:space-x-6 text-white">
            {main &&
              main.map((nav) => (
                <li>
                  <a
                    href={nav.url}
                    class={`nav-link text-white hover:text-[#d8a5f2] font-medium ${
                      url === nav.url ? "active" : ""
                    }`}
                  >
                    {nav.name}
                  </a>
                </li>
              ))}
          </ul>
          <a href="/contact/">
            <button
              class="bg-[#4f44d1] text-[.875em] rounded-full font-medium text-white py-[0.5em] px-[2.75em] hover:bg-[#776bff] ml-0 md:ml-5 border-solid border-1 border-[#4f44d1] leading-tight"
            >
              Contact Us
            </button>
          </a>
        </div>
      </div>
    </div>
  </nav>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const menuToggle = document.getElementById("menu-toggle");
      const mobileMenu = document.getElementById("mobile-menu");

      menuToggle?.addEventListener("click", () => {
        const isHidden = mobileMenu?.classList.contains("hidden");
        mobileMenu?.classList.toggle("hidden", !isHidden);
        menuToggle.setAttribute("aria-expanded", isHidden ? "true" : "false");
      });
    });
  </script>
</header>
