---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import Blogs from "@layouts/Blogs.astro";
import { nativeBlogs } from "@lib/strapi";

const totalPages = Math.ceil(nativeBlogs.length / config.settings.pagination);
const currentBlogs = nativeBlogs.slice(0, config.settings.pagination);
---

<Base title="All Blogs" showFooter={true}>
    <div class="section">
      <div class="container">
        <h1 class="h2 mb-4 text-center text-[#000] capitalize">All Blogs</h1>
        <p class="text-center mb-16 text-lg">
          Showing all blogs<span
          >
        </p>
        <Blogs blogs={currentBlogs} className="mb-16" />
        <Pagination currentPage={1} totalPages={totalPages} />
      </div>
    </div>
  </Base>
