body:has(.contact-us-page) .headerWrapper,
body:has(.contact-us-page) .headerWrapper nav{
    background-color: #1e429f !important;
}
.contact-us-page{
    background: #1e429f;
}
.headerWrapper nav a{
    font-size: 1rem;
    font-weight: 600;
}

body:has(.blog-page) .headerWrapper,
body:has(.blog-page) .headerWrapper nav{
    background-color: #FFFFFF !important;
    a{
        color: #000000;
    }
    img{
        filter: invert(1);
    }
}

body:has(.blog-detail-page) .headerWrapper,
body:has(.blog-detail-page) .headerWrapper nav{
    background-color: #f9f9f9  !important;
    a{
        color: #000000;
    }
    img{
        filter: invert(1);
    }
    ul{
        margin-bottom: 0px;
    }
}


.contact-form{
    background-color: #ebf5ff;
    margin-left: auto;
    margin-right: auto;
    margin-top: -180px !important;
    border-radius: 32px;
    padding: 2rem;
    max-width: 810px;

    .btn-send-message{
        background:#5e52e8;
        color: #ebf5ff;
    }
    .phone-number-field{
        padding: 0px;
        .PhoneInputInput,.PhoneInputInput:focus-visible,.PhoneInputInput:focus{
            border: none;
            border-radius: 0px 15px 15px 0px;
        }
        .PhoneInputCountry{
            background: white;
            padding: 12px;
            margin: 0;
            border-radius: 15px 0px 0px 15px;
        }
    }
}

[type='checkbox']:focus, [type='radio']:focus{
    --tw-ring-offset-color:#5e52e8;
}
[type='checkbox']:checked, [type='radio']:checked{
    background-color: #5e52e8 !important;
    border-radius: 4px;
}


@media screen and (max-width: 550px) {
    .contact-form{
        padding: 1.5rem;
        margin-top: -230px !important;
    }
}