@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
  @import "contact";
  @import "team-and-careers";
}

@layer utilities {
  @import "utilities";
}

body {
  font-family: "Plus Jakarta Sans", serif;
  font-size: 1em;
  transition: 0.5s all ease-in-out;
}
ul.navbar-nav button:hover {
  background-color: #776bff;
  border-color: #776bff;
}
ul.navbar-nav {
  gap: 1.5rem;
}

ul.navbar-nav button {
  font-size: 0.875em;
  background-color: #4f44d1;
  border: 1px solid #4f44d1;
  color: #fff;
  border-radius: 20px;
  padding: 0.5em 2.75em;
  font-weight: 600;
  line-height: 1.25;
}

ul.navbar-nav li.nav-item a.nav-link {
  font-weight: 500;
  color: #fff;
  opacity: 1;
  line-height: 1.25;
}

ul.navbar-nav li.nav-item a.nav-link.active,
ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #d8a5f2;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
  }
}

section.homeBanner {
  background-repeat: no-repeat;
  padding-top: 7rem;
  padding-bottom: 4rem;
}

// Gitanjali css

.blog-detail-page h3 {
  font-size: 1.45rem;
  line-height: 2.25rem;
  font-weight: 600;
  margin: 0.5rem 0 1.5rem;
}
.blog-detail-page h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
  margin: 0.5rem 0 1.5rem;
}
.blog-detail-page p {
  color: #6b7280;
  font-size: 16px;
}
.learn-more a {
  text-underline-offset: 4px;
}
.menuWrap {
  display: flex;
}
.tableSideContent {
  margin-left: 0px;
  ul.mainTitle {
    margin-left: 0px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    .table-children {
      margin-bottom: 0px;
      margin-left: 35px;
      li {
        padding: 0px !important;
      }
    }
    li.cursor-pointer {
      padding: 10px 0;
      font-size: 1rem;
      display: flex;
      align-items: flex-start;
      gap: 10px;
      span {
        svg {
          fill: #4f44d1;
          color: #4f44d1;
        }
      }
    }
  }
}

.breadcrumbWrap {
  ul {
    display: flex;
    gap: 10px;
    li {
      display: flex;
      gap: 10px;
      a,
      span,
      svg {
        color: #6b7280;
        fill: #6b7280;
      }
      a,
      span {
        font-size: 0.875rem;
      }
    }
  }
}
.privacy-content {
  h2 {
    font-size: 24px;
    font-weight: 600;
    color: #100d06;
    margin: 12px 0;
  }
}
section.section.not-found {
  background: #f9f9f9;
  .bg-white.h-full {
    height: calc(100vh - 83px);
  }
}

body:has(.not-found) footer.footer {
  display: none;
}
body:has(.blog-detail-page, .blog-page) .headerWrapper,
body:has(.blog-detail-page, .blog-page) .headerWrapper nav {
  background-color: #f9f9f9 !important;
  a {
    color: #000000;
    &:hover{
      color: #d8a5f2;
    }
  }
  img {
    filter: invert(1);
  }
  button#menu-toggle {
    color: #000;
    svg,
    path {
      color: #000;
      fill: #000;
    }
  }
}
body:has(.privacyContentContainer, .not-found) .headerWrapper,
body:has(.privacyContentContainer, .not-found) .headerWrapper nav {
  background-color: #f9f9f9 !important;
  a {
    color: #000000;
  }
  img {
    filter: invert(1);
  }
  button#menu-toggle {
    color: #000;
    svg,
    path {
      color: #000;
      fill: #000;
    }
  }
}
.footerContent {
  ul {
    margin: 0px;
  }
  a {
    img {
      width: 88px;
      height: auto;
    }
  }
}
@media (min-width: 40em) {
  body {
    border: none !important;
  }
}
@media only screen and (max-width: 991px) {
  .social-share {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media only screen and (max-width: 767px) {
  body:has(.blog-detail-page) .headerWrapper,
  body:has(.blog-detail-page) .headerWrapper nav {
    a {
      color: #fff;
    }
    img {
      filter: invert(1);
    }
  }
  body:has(.privacyContentContainer, .blog-page, .not-found) .headerWrapper,
  body:has(.privacyContentContainer, .blog-page, .not-found)
    .headerWrapper
    nav {
    a {
      color: #fff;
    }
    img {
      filter: invert(1);
    }
  }
  #mobile-menu {
    position: absolute;
    left: 0;
    top: 75px;
    right: 0;
    bottom: 0;
    background-color: rgb(35, 56, 118);
  }
  .menuWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .menuWrap ul {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
  }
  .headerWrapper {
    nav {
      a {
        font-size: 2rem;
        button {
          margin-left: 10px;
        }
      }
    }
  }
  .privacy-content {
    h2 {
      font-size: 20px;
      margin: 5px 0;
    }
  }
  .condation-text {
    p {
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
}
