---
import Base from "@layouts/Base.astro";
import ContactForm from "@layouts/components/ContactForm";
import SubscribeNewsletter from "@layouts/components/SubscribeNewsletter.astro";
---

<Base showFooter={false}>
  <section class="contact-us-page lg:pt-24 md:pb-80">
    <div class="w-full flex justify-center my-5">
      <div class="max-w-[640px] w-full">
        <h1 class="text-white text-center text-2xl md:text-6xl font-semibold mb-4">Connect with ABC Ventures</h1>
        <p class="text-[#f9edff] text-center">
          We’re here to answer your questions and explore partnership
          opportunities. Whether you’re an aspiring entrepreneur, a potential
          investor, or just curious about the venture capital world, our team is
          ready to engage.
        </p>
      </div>
    </div>
    <!-- <div class="h-[300px]">
    </div> -->
  </section>
  <section class="w-full flex justify-center">
    <div class="w-3/5 mb-5">
      <ContactForm client:load />
    </div>
  </section>
  <section class="my-5">
    <div class="container max-auto px-4 w-full flex flex-wrap">
      <div class="w-1/3 text-center p-4">
        <h3>Email us:</h3>
        <p>
          Email us for general queries, including marketing and partnership
          opportunities.
        </p>
        <p>info@abcventures.com</p>
      </div>
      <div class="w-1/3 text-center p-4">
        <h3>Visit us:</h3>
        <p>Visit us:</p>
      </div>
      <div class="w-1/3 text-center p-4">
        <h3>Phone call</h3>
        <p>Connect directly with us via.</p>
        <p>+1 (646) 786-5060</p>
      </div>
    </div>
  </section>
  <SubscribeNewsletter />
</Base>
