---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import { nativeBlogs } from "@lib/strapi";

const trendingPosts = nativeBlogs.slice(5, 8);
const popularPosts = nativeBlogs.slice(8, 17);
const heroPosts = nativeBlogs.slice(0, 3);
---

<Base showFooter={true}>
  <section class="section md:pt-[32px] pt-[40px]">
    <div class="container">

      <!-- <Posts posts={currentPosts} className="mb-16" />
      <Pagination currentPage={1} totalPages={totalPages} /> -->
    </div>
  </section>
</Base>
