---
import Base from "@layouts/Base.astro";
import { site } from "@lib/strapi";
const content = site?.[0]?.privacyPolicy;
---

<Base>
  <section class="section pb-0 pt-[10px] ">
    <div class="container px-3">
      <div class="breadcrumbWrap">
        <ul>
          <li> 
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>          
            <a href="/">Home</a>
          </li>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>          
          <li><span>Privacy Policy</span></li>
        </ul>
      </div>
      <div class="max-w-[760px] mx-auto condation-text mt-8 md:mt-16 privacyContentContainer">
        <div class="mb-16 text-left text-[#000]">
          <div class="w-full p-[10px]  max-sm:px-0">
            <h1 class="md:text-[36px] text-[22px] text-[#100d06] font-semibold">
              ABC Ventures Privacy Policy
            </h1>
          </div>
          <div class="mt-10 md:px-2 px-6 max-sm:px-0 max-sm:mt-3">
            <div set:html={content} />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
