---
import Base from "@layouts/Base.astro";
import SubscribeNewsletter from "@layouts/components/SubscribeNewsletter.astro";
---

<Base showFooter={true}>
  <div class=" p-4 my-5">
    <div class="grid grid-rows grid-cols-1 lg:grid-cols-2 gap-16">
      <div class="px-4">
        <h2 class="my-0 text-[3rem] font-semibold text-black-900">
          Why Choose

          <span class="block text-[#9d95fa]">ABC Ventures?</span>
        </h2>
      </div>
      <div class="px-4 text-[#6b7280] text-base font-medium">
        <p class="mb-[1.2rem]">
          At ABC Ventures, we don’t just offer jobs; we offer career-defining
          opportunities. Here, you’ll be immersed in an environment that values
          innovation, fosters growth, and encourages every team member to push
          the boundaries of what’s possible. Being part of our team means more
          than working for a leading venture capital firm; it means being at the
          heart of progress, working alongside industry experts, and
          contributing to projects that leave a lasting impact.
        </p>
      </div>
    </div>
  </div>

  <div class="row p-5">
     <div class="col-6">
        <h1>Explore Our Current Openings</h1>
        <p>
            Ready to make your mark? Take a look at our exciting job opportunities.
        </p>
     </div>
     <div class="col-6">
        <div class="px-4">
            <span
                class="inline-block bg-purple-100 text-purple-600 text-xs font-semibold uppercase tracking-wide px-2 py-1 rounded">
                Analytics Department
            </span>
            <h2 class="text-2xl font-semibold  mb-2.5 leading-7 text-[#111928]">
                Senior Data Analyst
            </h2>
            <p class="text-gray-500 text-sm mb-2.5 mt-0">December 21, 2023</p>
            <p class="text-base  mt-0 mb-2.5 text-gray-500 font-medium">
                Static websites are now used to bootstrap lots of websites and are becoming the basis for a variety of tools that even influence both web designers and developers influence both web designers and developers.
            </p>
            <a href="#"
                class="text-purple-600 text-base font-medium inline-flex items-center mt-4 hover:text-[#443ab9]">
                Read more →
            </a>
        </div>
        <div class="px-4">
            <h2 class="text-2xl font-semibold  mb-2.5 leading-7 text-[#111928]">
                Wearable Tech in Advertising: Charting the Course of Immersive Marketing
            </h2>
            <span
                class="inline-block bg-purple-200 text-purple-600 text-xs font-semibold uppercase tracking-wide px-2 py-1 rounded">
                Updates
            </span>
            <p class="text-gray-500 text-sm mb-2.5 mt-0">December 21, 2023</p>
            <p class="text-base  mt-0 mb-2.5 text-gray-500 font-medium">
                In the dynamic world of technology and advertising, wearable tech is emerging as a
                frontier brimming with innovative opportunities. As an expert in tech gadgets and
                their intersection with advertising, I am excited to delve into how wearable
                technology is not…
            </p>
            <a href="#"
                class="text-purple-600 text-base font-medium inline-flex items-center mt-4 hover:text-[#443ab9]">
                Read more →
            </a>
        </div>
        <div class="px-4">
            <h2 class="text-2xl font-semibold  mb-2.5 leading-7 text-[#111928]">
                Wearable Tech in Advertising: Charting the Course of Immersive Marketing
            </h2>
            <span
                class="inline-block bg-purple-200 text-purple-600 text-xs font-semibold uppercase tracking-wide px-2 py-1 rounded">
                Updates
            </span>
            <p class="text-gray-500 text-sm mb-2.5 mt-0">December 21, 2023</p>
            <p class="text-base  mt-0 mb-2.5 text-gray-500 font-medium">
                In the dynamic world of technology and advertising, wearable tech is emerging as a
                frontier brimming with innovative opportunities. As an expert in tech gadgets and
                their intersection with advertising, I am excited to delve into how wearable
                technology is not…
            </p>
            <a href="#"
                class="text-purple-600 text-base font-medium inline-flex items-center mt-4 hover:text-[#443ab9]">
                Read more →
            </a>
        </div>
     </div>
  </div>
  <SubscribeNewsletter />
</Base>
